* {
	padding: 0;
	margin: 0;
	font-family: 'Cinzel', serif;
}

.navbar{
	opacity: 0.95;
}

p{
	font-family: 'Pontano Sans', sans-serif;
}
/* hero img in index.php*/
header {
	background: url('img/main.jpg') no-repeat 50% 30%;
    background-size: cover;
    height: 400px;
    margin-bottom: 0 !important;
}
/* text area for description in update.php */
#textarea{
	width: 95%; 
}

/* facebook API */
 #fb-btn, #logout{
    display: none;
}

footer{
	padding-top: 10px;
	padding-bottom: 15px;
	background: #1ca4a2;
	color: #fff;
}